{{ $recipe := index .Site.Data.recipes (.Get 0) }}
<section class="recipe">
    <h3>{{ $recipe.title }}</h3>
    <p>{{ $recipe.description  | markdownify }}</p>
    {{ with $recipe.yield }}<h4>Yield</h4><p>{{ . }}</p>{{end}}

    <h4>Ingredients</h4>
    <table>
        {{ range $recipe.ingredients }}
        <tr>
            <td><strong>{{ .amount }}</strong></td>
            <td>{{ with .url }}<a href="{{ . }}">{{ end }}{{ .description }}{{ if .url }}</a>{{ end }}</td>
        </tr>
        {{ end }}
    </table>

    <h4>Directions</h4>
    <ol>
        {{ range $recipe.directions }}
        <li>
        {{ with .title }}<strong>{{ . }}</strong>{{ end }}
        {{ range .steps }}<p>{{ . }}</p>{{ end }}
        </li>
        {{ end }}
    </ol>
</section>
