{{ $recipe := index .Site.Data.recipes (.Get 0) }}
<section class="recipe">
    <h3>{{ $recipe.title }}</h3>
    <p>{{ $recipe.description  | markdownify }}</p>
    {{ with $recipe.yield }}<h4>Yield</h4><p>{{ . }}</p>{{end}}

    <h4>Ingredients</h4>
    <table>
        {{ range $recipe.ingredients }}
        <tr>
            <td>{{ if .quantity }}<strong>{{ .quantity }} {{ .unit }}</strong>{{ end }}</td>
            <td>{{ if .url }}<a href="{{ .url }}">{{ end }}{{ .ingredient }}{{ if .url }}</a>{{ end }}</td>
        </tr>
        {{ end }}
    </table>

    <h4>Directions</h4>
    <div class="directions">
    {{ range $recipe.directions }}
        {{ with .title }}<strong>{{ . }}</strong>{{ end }}
        <ol>
            {{ range .steps }}<li>{{ . | safeHTML }}</li>{{ end }}
        </ol>
        {{ with .image }}
        <figure>
            <img src="{{ .url }}" alt="{{ .alt }}" />
            <figcaption>
            <h4>{{ .title }}</h4>
            </figcaption>
        </figure>
        {{ end }}
    {{ end }}
    </div>
</section>
